/* '	GLOBALS
======================================  */
		.title-section{
			text-align: center;
			margin-bottom: 20px;
			font-size: 2rem;
		}

		.helpline-section{
			text-align: center;
		}


.btn-primary {
	background-color: #ED4942 !important;
	border-color: #C5372F !important;
	color: #FFFFFF !important;
	border-radius: 4px !important;
	}




a.right-off-canvas-toggle {
	color: #fff;
}


	.right{  float: right;}
	.left{  float: left;}
 
      .size-12 { font-size: 12px !important; }
      .size-14 { font-size: 14px !important; }
      .size-16 { font-size: 16px !important; }
      .size-18 { font-size: 18px !important; }
      .size-21 { font-size: 21px !important; }
      .size-24 { font-size: 24px !important; }
      .size-36 { font-size: 36px !important; }
      .size-48 { font-size: 48px !important; }
      .size-60 { font-size: 60px !important; }
      .size-72 { font-size: 72px !important; }






/* 'HERO
======================================  */

		.hero{
		 	color: #eee;
			font-size: 48px;	
			text-transform: uppercase;

			background: url(../images/hero/background.jpg) #547193 ;
			background-repeat: no-repeat;
			background-size: cover;

			   

			height: 650px;
			text-align: center;
		 	padding: 0px 0px;

			 .hero-title {
				color: #FFFFFF;
		 		font-weight: bold;
				}

			.hero-subtitle {
				margin-bottom: 20px;
		 		font-weight: 100;
				line-height: 1.4;
				color: #f2f2f2;
				}

			.top-bar{ 
				margin-bottom: 100px;
				padding-top: 20px;
				.menu-top{
					a{ border:1px solid transparent; padding: 0px 20px !important }
					a:hover{ border:1px solid #fff;}
				}

			}

		}



		 
		.logotipo-small{
			width: 160px;
		 }



/* 'SIGN UP BAR
======================================  */
		.sign-up-bar{
			background: shade($primary-color, 50%);
			padding: 30px 0 20px 0;
			.sign-up-text-wrapper{
				.sign-up-text{  margin-top: 0px;
								margin-right: 16px;
 								color: rgba(255, 255, 255, 0.90);
 								font-weight: 600;
 								text-align: center;
 							}
				.sign-up-text.sub{
					margin-top: 8px;
					color: rgba(255, 255, 255, 0.70);
					font-size: 16px;
					font-weight: 400;
				}
			}

			.hero-form{
				margin-top: 10px;

				.hero-text-field{
					position: relative;
					z-index: 2;
					height: 50px;
					padding-top: 8px;
					padding-bottom: 8px;
					border-style: none;
					border-radius: 2px;
					background-color: rgba(0, 0, 0, 0.2);
					box-shadow: rgba(255, 255, 255, 0.29) 0px 0px 1px 0px, black 0px 0px 2px 0px inset;
					color: white;
					font-weight: 600;
				}


				.hero-float-label {
					position: absolute;
					left: 25px;
					top: 0px;
					bottom: 0px;
					z-index: 1;
					opacity: 0;
					color: #e6e6e6;
					font-size: 11px;
					font-weight: 400;
					text-transform: uppercase;
					}



				.form-group:hover .hero-float-label,
				.form-group.active .hero-float-label{
					transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 250ms cubic-bezier(0.23, 1, 0.32, 1);
					-webkit-transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 250ms cubic-bezier(0.23, 1, 0.32, 1);
					transform: translateY(-20px);
					opacity: 0.5;
				}

				.hero-input, .hero-select {
					display: block;
					width: 100%;
					height: 38px;
					padding: 8px 12px;
					margin-bottom: 10px;
					font-size: 14px;
					line-height: 1.428571429;
					color: #555555;
					vertical-align: middle;
					background-color: rgba(0, 0, 0, 0.2);
		 			}


				.hero-button {
					display: inline-block;
					width: 100%;
					height: 38px;
					padding: 8px 12px;
					margin-bottom: 10px;
					font-size: 14px;
					line-height: 1.428571429;
					color: #fff;
					vertical-align: middle;
					background-color: $primary-color !important;
					text-align: center;
					margin-bottom: 0 !important;

					// display: inline-block;
					// padding: 12px;
		 		// 	color: white;
		 		// 	height: 38px;

					}

				.terms {
					margin-top: 5px;
					color: scale-color($primary-color, $lightness: -34%);
					font-size: 12px;
					font-weight: 400;
					text-align: center;
					
					}


			}

		}



		a:hover{opacity:0.9}





		.dark{
			
			h3{color: #fff}
			background: shade($primary-color, 50%);
			color: #fff;
		}






/* 'SECTIONS
======================================  */
		.home-features, .home-planos , .home-treinamento, .home-do{padding: 50px 0;}
 

 .home-treinamento{
 	background: #e8e8e8;
 }

.home-planos{
			background: shade($primary-color, 60%);

			.title-section{
				color: #fff;
			}

			.helpline-section{
				color: #fff;
			}

			p{
				color: #fff
			}

			a{
				color: lighten($primary-color, 60%);
				font-weight: 400;
			}

			 
}


		.home-social-companies{
				background-color: #fff;
				color: $primary-color;
				vertical-align: middle;
				padding: 60px 0 60px 0;
				margin: 0;
				

				h3 {
				margin: 0 0 10px 0;
				color: $primary-color;
				}


				img {
					margin: 0 20px 0 0;
					height: 110px;
					border:2px solid #fff;
					padding-left: 5px;
					transition: border 0.15s 0.05s;

					&:hover{ border:2px solid $primary-color;}
				}

			.partners{
				text-align: center;
			}

		}



	.home-features{
		background: shade($primary-color, 50%);
		color: #fff;

		.title-section{color: #fff}
		.feature{
			transition: box-shadow 0.15s 0.05s;
			border-radius: 5px;
			background: #fff;
 			margin: 0 auto 25px auto;
			color: #000;
			text-align: center;
			min-height: 412px;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
			cursor: pointer;

			.feature-header{
				img{border-radius: 5px 5px 0 0;}
			}
			.feature-body{
				padding: 0 15px 10px;

				h3 {
					margin-top: 25px;
					margin-bottom: 0;
					padding: 15px;
					padding-bottom: 0;
					font-size: 1.5em;
				   }

				 h4{
				 	font-weight: 600;
					font-size: 1.2rem;
				 }  
			}
		&:hover{box-shadow: 0 5px 15px 0 rgba(0,0,0,.4);}
		}

		ul{ padding: 0 10px}

	}




/* 'FOOTER
======================================  */
		footer{
			.footer-bottom{
		background: shade($primary-color, 40%);
				color: #fff;
				padding: 20px 0;
		 		p{font-size: 0.8rem !important}

		 		.copyright{
		 			font-size: 14px !important;
		 			h4{color: #fff; margin-bottom: 0;
						small{color: #fff}
		 			}
		 			a{color: #fff !important; 
		 				&:hover {text-decoration: underline; }
		 			}
		 		}

			}
		}


      
 
 